{% extends 'base.html' %}
{% load static %}
{% block content %}
<body class="body">
    <header class="header">
        <div class="profile-icon"> <img src="{{ user_profile.foto_perfil.url }}" alt="">
        </div>
        <h1>EduVision IA</h1>
    </header>
    <main class="main-container">
        <aside class="history-section">
            <h2>Histórico</h2>
            <div class="history-item">
                <span class="download-icon"></span>
            </div>
            <div class="history-item">
                <span class="download-icon"></span>
            </div>
            <div class="history-item">
                <span class="download-icon"></span>
            </div>
        </aside>

        <section class="content-section">
            <div class="upload-box">
                <p>Envie uma foto</p>
                <input type="file" id="file-input" accept="image/*">
            </div>

            <div class="data-input-section">
                <div class="input-group-container">
                    <div class="input-group">
                        <label for="x-unit">Unidade Eixo X</label>
                        <input type="text" id="x-unit" name="x-unit" value="V (m/s)">
                    </div>
                    <div class="input-group">
                        <label for="y-unit">Unidade Eixo Y</label>
                        <input type="text" id="y-unit" name="y-unit" value="S (m)">
                    </div>
                </div>
                <div class="input-group-container">
                    <div class="input-group">
                        <label for="x-values">Valores Eixo X</label>
                        <input type="text" id="x-values" name="x-values" value="3, 3, 3, 2, 1">
                    </div>
                    <div class="input-group">
                        <label for="y-values">Valores Eixo Y</label>
                        <input type="text" id="y-values" name="y-values" value="0, 1, 2, 3, 4">
                    </div>
                </div>

                <div class="button-group">
                    <button id="generate-btn">Gerar</button>
                    <button id="export-btn">Exportar</button>
                </div>
            </div>
        </section>
    </main>
</body>
{% endblock %}